body {
  font-family: 'Titillium Web', sans-serif;
  color:#ddd;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
}

.label{
  cursor:default;
  position:absolute;
  line-height: 40px;
  font-size:10px;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  z-index:50;
  transition: font-size 0.2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;

}

.label:hover{
  color: #fff;
  z-index:100;
  transition: font-size 0.2s ease-in-out;
  border: 1px solid #eee;
}

.nav_title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  text-align: center;
  z-index:150;
  display: inline;
}
